<nav class="bg-blue-600 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <div class="text-white text-lg font-bold">
      <a routerLink="/">Angular Web 2.0</a>
    </div>
    <div class="space-x-4">
      <a routerLink="/" class="text-white hover:text-gray-200">Strona Główna</a>
      <a routerLink="/countries" class="text-white hover:text-gray-200">Kraje</a>
      <a routerLink="/towns" class="text-white hover:text-gray-200">Miasta</a>
      <a routerLink="/rivers" class="text-white hover:text-gray-200">Rzeki</a>
    </div>
  </div>
</nav>
