<div>
  <h1 class="text-2xl font-bold mb-4">Lista Miast</h1>
  <button (click)="openModal()" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 mb-4">Dodaj Miasto</button>
  <table class="min-w-full bg-white">
    <thead>
    <tr>
      <th class="py-2">ID</th>
      <th class="py-2">Nazwa</th>
      <th class="py-2">Populacja</th>
      <th class="py-2">Akcje</th>
    </tr>
    </thead>
    <tbody>
    @for(town of towns; track town.id){
    <tr>
      <td class="border px-4 py-2">{{ town.id }}</td>
      <td class="border px-4 py-2">{{ town.name | uppercase }}</td>
      <td class="border px-4 py-2">{{ town.population | thousands }}</td>
      <td class="border px-4 py-2">
        <button [routerLink]="['/town', town.id]" class="bg-green-600 text-white px-2 py-1 me-2 rounded hover:bg-green-700">Szczegóły</button>
        <button (click)="deleteTown(town.id!)" class="bg-red-600 text-white px-2 py-1 me-2 rounded hover:bg-red-700">Usuń</button>
        <button (click)="openEditModal(town)" class="bg-yellow-600 text-white px-2 py-1 rounded hover:bg-yellow-700">Edytuj</button>
      </td>
    </tr>
    }
    </tbody>
  </table>
  @if(showModal){
  <app-town-add (townAdded)="loadTowns()" (closeModal)="closeModal()"></app-town-add>
  }
  @if(showEditModal){
  <app-town-edit [town]="editTown" (townUpdated)="loadTowns()" (closeModal)="closeEditModal()"></app-town-edit>
  }
</div>
