<div class="fixed inset-0 bg-gray-600 bg-opacity-50 flex items-center justify-center">
  <div class="bg-white p-8 rounded-lg">
    <h2 class="text-2xl mb-4">Dodaj Kraj</h2>
    <label for="name" class="block mb-2">Nazwa:</label>
    <input [(ngModel)]="newCountry.name" id="name" class="border px-4 py-2 mb-4 w-full" />
    <div class="flex justify-end">
      <button (click)="addCountry()" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">Dodaj</button>
      <button (click)="close()" class="ml-2 bg-gray-600 text-white px-4 py-2 rounded hover:bg-gray-700">Anuluj</button>
    </div>
  </div>
</div>
